default_p_dir="._p"

# it will be interpreted as $(pwd)
projects_dir=""

# set directories (projects) to ignore 
projects_dir_to_ignore=("test" "lost+found" ".*")

# set directories to ignore inside each project
project_dir_to_ignore=("vendor" "node_modules" "._p" "public" ".*")
# set files to ignore inside each project
project_files_to_ignore=("_p*" "README.md")